html{
    background-color:white;
    height: 100%;
    position: relative;
    width: 100%;
  }
        
.body {
   display: flex;
   flex-direction: row;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 0px;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width:1920px;
   height:1080px;
   position: relative;
   width:100%;
   object-fit: cover;
  }
  .swiper-container {
    width: 1920px;
    height: 1080px;
    z-index: -1;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
 }

 .one{
    width: 1920px;
    height: 1080px; 
 }
 .two{
    width: 1920px;
    height: 1080px;  
 }
 .three{
    width: 1920px;
    height: 1080px;  
 }
 .four{
    width: 1920px;
    height: 1080px;  
 }
 .five{
    width: 1920px;
    height: 1080px;  
 }
 .six{
    width: 1920px;
    height: 1080px;  
 }
 .seven{
    width: 1920px;
    height: 1080px;  
 }
 .header {
    display: flex;
    width: 947px; 
    height: 273px;
    padding-bottom: 5px; 
    background-color:rgba(57, 57,57, 0.7);
    flex-direction: column;
    margin-top: -450px;
    z-index:10000;
    position: absolute;
    justify-content: center;
}

.body{
   display: flex;
   flex-direction: row;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 0px;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width:1920px;
   height:1080px;
}
.elephant {
   font-family: 'Raleway', sans-serif;
    font-size: 120px;
    text-align: left;
    color: #ffd576;
    margin-top: 70px;
    padding-left: 66px;
    
    
}
.official{
   font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-top: -100px;
    padding-left: 66px;

}
.button{
    display: flex;
    margin-top:-250px;
    z-index:10000;
    position: absolute;
    justify-content: center;
    margin-left: 1700px;
}